{% extends 'base.html.twig' %}

{% block title %}Hello MatchingController!{% endblock %}

{% block body %}
    <h1>Résultats du Matching</h1>
    <ul>
       
            <li>1 </li>
     
    </ul>
{% endblock %}
