{% extends 'base.html.twig' %}

{% block title %}Hello MatchingController!{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="col-6 mx-auto">
            <div class="row">
                <h1>Résultats du Matching</h1>
                <ul>
                    
                </ul>
         </div>
     </div>
    </div> 
{% endblock %}
