
{% extends 'base.html.twig' %}


{% block title %}
    Mes sessions de mentoring
{% endblock %}

{% block body %}

<div class="container">
    <h2>Mes sessions</h2>
    <ul>
        {% for TraningSession in TraningSessions%}
            <li>{{ TraningSession.trainingName }}</li>
        {% else %}
            <li class="alert alert-info">
                Vous n'avez pas de session en cours
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}