{% extends 'base.html.twig' %}

{% block title %}Devenir Mentor - MentorHub{% endblock %}

{% block body %}
    <h1>Devenir Mentor</h1>
    
    <p>Formulaire pour devenir mentor à intégrer ici.</p>
{% endblock %}
