{% extends 'base.html.twig' %}

{% block title %}Contactez-Nous!{% endblock %}

{% block body %}


<div class="container">
    <div class="col">
        <div class="row">

            <h1 class="hero">Une question? contactez-nous</h1>
        </div>
    </div>
</div>
{% endblock %}
