{% extends 'base.html.twig' %}

{% block title %}Contactez-Nous!{% endblock %}

{% block body %}


<div class="container mt-5">
    <div class="col">
        <div class="row">
            <h2 class="hero">Qui sommes-nous ?</h2>
                <p class="hero">MentorHub est une plateforme dédiée à la mise en relation entre mentors expérimentés et personnes cherchant à
                        bénéficier de leur expertise et de leurs conseils dans divers domaines.
                        Que vous soyez à la recherche d'un mentor pour vous guider dans votre carrière, vos études, ou tout
                        simplement pour acquérir de nouvelles compétences, MentorHub est là pour vous aider à trouver le mentor
                        parfait.
                     </p>
                </div>
       </div>
</div>
{% endblock %}
