
{% extends "base.html.twig" %}
{% block title %}Category{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Category : {{ slug }}</h1>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <hr>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}