{% extends "base.html.twig" %}


{% block title %}Catégorie : {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">     
            <h1  class="mt-5 mb-3"> Nos mentors : {{ slug }}</h1>
        </div>
   

   
{% endblock %}