{% extends "template.html.twig" %}


{% block title %}contact MentorHub{% endblock %}

{% block body %}
<h1>Contactez-nous</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem itaque repudiandae. At consequuntur debitis expedita fuga fugit harum mollitia numquam odio quia quis? Dignissimos ducimus eius id nemo quibusdam.</p>
{% endblock %}