{% extends "base.html.twig" %}


{% block title %}Accueil MentorHub{% endblock %}

{% block body %}
    {% include'components/_carrousel.html.twig' %}

    <div class="container">

    <div class="row">

            <div class="col-12">
                <h1 class="display-4">Find a your MentorHub</h1>


                <p class="col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate dolor exercitationem explicabo ipsa,
                    maiores minima minus mollitia nam necessitatibus numquam officiis quis, quod quos, reprehenderit rerum tempora unde
                    voluptatibus.</p>

        </div>
    </div>



{% endblock %}