{% extends "base.html.twig" %}


{% block title %}Accueil MentorHub{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
    <h1  class="display-3 mt-5">Nos mentors</h1>
    {% for mentor in mentors%}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ mentor.slug }}</h5>
                    <img src="{{ mentor.image }}" alt="" class="img-fluid">
                    <h5 class="card-title">{{ mentor.bio }}</h5>

                </div>
            </div>
        </div>

    {% else %}
        <div class="alert alert-info">
            Pas de Mentor  pour le moment.
        </div>
    {% endfor %}

    {% include'components/_carrousel.html.twig' %}


{% endblock %}