{% extends "base.html.twig" %}

{% block title %}Accueil du Blog{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon Blog</h1>

    <img src="https://img.freepik.com/photos-gratuite/jetee-au-bord-lac-hallstatt-autriche_181624-44201.jpg" alt="Blog">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate dolor exercitationem explicabo ipsa,
        maiores minima minus mollitia nam necessitatibus numquam officiis quis, quod quos, reprehenderit rerum tempora unde
        voluptatibus.</p>
{% endblock %}