{% extends 'base.html.twig' %}

{% block title %}Recherche de Mentors !{% endblock %}


{% block body %}
<div class="container">
    <div class="section">
        <div class="row center">
            <div class="col m6 offset-m3">
                <h1>Rechercher avancé</h1>
                
                {{ form(search_form) }}

            </div>
        </div>
    </div>
</div>



{% endblock %}
