% extends 'base.html.twig' %}

{% block title %}
    Mes sessions avec mon {{ mentor.user.fullName }}
{% endblock %}

{% block body %}
<div class="container">
    <h2>Mes sessions</h2>
  
</div>
{% endblock %}