<footer>
   <div class="container"> 
        <div class="col-6 mx-auto mt-10"> 
          
                <p>&copy; 2024 MentorHub. Tous droits réservés.</p>
            </div>    
        </div>
    </div> 
</footer>