<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Pages</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Inscription</a></li>
                    <li><a href="#">Mentors</a></li>
                    <li><a href="#">Cours</a></li>
                    <li><a href="#">À propos</a></li>
                </ul>
            </div> 
            
            <div class="col">
                <h5>Pages</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Inscription</a></li>
                    <li><a href="#">Mentors</a></li>
                    <li><a href="#">Cours</a></li>
                    <li><a href="#">À propos</a></li>
                </ul>
            </div>
            
            <div class="col">
                <h5>Pages</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Inscription</a></li>
                    <li><a href="#">Mentors</a></li>
                    <li><a href="#">Cours</a></li>
                    <li><a href="#">À propos</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Inscription</h5>
                <p>Rejoignez MentorHub dès aujourd'hui pour bénéficier de l'expertise de nos mentors !</p>
                <a href="#" class="btn btn-primary">S'inscrire</a>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <span class="text-muted">MentorHub - Tous droits réservés.</span>
    </div>
</footer>
