{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
   <br/>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <h1 class="display-6">Inscription</h1>
                <h2>Créer votre compte</h2>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
