{% extends 'base.html.twig' %}

{% block title %}Nos categories de mentorat{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
       <h1  class="display-3 mt-5">Listes des catégories</h1>
       {% for category in categories %}
        <div class="col">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ category.name }}</h5>
                  <a class="btn btn-secondary" href="{{ path('app_category_show', {'id': category.id}) }}">Voir</a>

                </div>
              </div>
        </div>

        {% else %}
        <div class="alert alert-info">
            Pas de catégories pour le moment.
        </div>
        {% endfor %}
    </div>
    <div class="row mt-5">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('app_category_new') }}">Creer une nouvelle categorie new</a>
        </div>
    </div>
    
   
</div>

 
{% endblock %}
