{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
   
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Créer nouvelle catégorie</h1>
       </div>
    {{ include('category/_form.html.twig') }}
    </div>
    <br>

    <a class="btn btn-secondary" {{ path('app_category_index') }}">retour aux catégorie</a>
</div>
</div>
{% endblock %}
